@import "variables";
@import "reset";

.bg-light {
    background-color: $color_fondo  !important;
}

.logo {
    padding: 5px;
    background-color: $color_h1;
    margin-top: 0.1rem
}

.nav-link {
    color: $color_h1  !important;
    font-size: calc($tamano-h1 / 3.75) !important;
    font-weight: bold;
    &:hover {
        color: $nav_hover_color  !important;
    }
}

.container {
    background: $color_fondo_general;
}

#home {
    text-align: left;
    background-image: url("../images/backgroundimage.jpg");
    background-size:cover;
    background-position: center;
    padding-right: 1.75rem;
    font-weight: bold;
    min-height: 100vh;
    padding-top: 0;
    margin-top: 0;

    h1 {
        color: $color_h1;
        font-size: $tamano_h1;
        padding-top: 2.5rem;
        transition: all 0.5s;
    }

    h2 {
        color: $color_h2_h3;
        font-size: calc($tamano-h1 / 2);
        padding-top: 2.5rem;
        transition: all 0.5s;
    }

    h3 {
        color: $color_h2_h3;
        font-size: calc($tamano-h1 / 2.25);
        padding-top: 2.5rem;
        transition: all 0.5s;
    }

    .btn {
        margin-top:1.75rem;
        margin-bottom:13.25rem;}
}

.kenburns-top-left {
    -webkit-animation: kenburns-top-left 3s linear reverse both;
    animation: kenburns-top-left 3s linear reverse both;
}

@-webkit-keyframes kenburns-top-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 16%;
        transform-origin: 16% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translate(-20px, -15px);
        transform: scale(1.25) translate(-20px, -15px);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
}

@keyframes kenburns-top-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 16%;
        transform-origin: 16% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translate(-20px, -15px);
        transform: scale(1.25) translate(-20px, -15px);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
}

.btn {
    color: white !important;
    margin-bottom: 1.25rem;
    background-color: gray;
    font-size: 1.25rem;
}

main {
    font-size: calc($tamano-h1 / 4);
    font-family: $tipo_de_letra;
    color: $color_texto;
    background-color: $color_fondo_main;
}

.margen {
    margin-top: 0px;
    padding-top: 80px;
}

h1 {
    color: $color_h1;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 10px 6px 0px 6px;
    transform: skewX(0);
    transition: skweX 1s;

    &:hover {
        transform: skewX(10deg);
    }
}

h2,
h3 {
    color: $color_h1;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 6px 0px 6px;
    transform: skewX(0);
    transition: skweX 1s;

    &:hover {
        transform: skewX(10deg)
    }
}

p {
    padding: 4px;
    font-size: calc($tamano-h1 / 4);
}

ul li {
    padding: 0.5px;
    font-size: calc($tamano-h1 / 4);
}

.cuadraditos{
    list-style:square;
}

.centrado {
    text-align: center;

    h2 {
        margin-top: 0.25rem;
    }
}

form {
    background-color: $color_fondo_general;
}

input {
    margin: 0 !important;
    font-size: calc($tamano-h1 / 4) !important;
    border: solid 1px $color_bordes;
    margin: 0 !important;
    font-family: $tipo_de_letra;
    background-color: $color_fondo_form  !important;
    padding: 8px !important;
    border-radius: 5px;
}

textarea {
    font-size: calc($tamano-h1 / 4) !important;
    border: solid 1px $color_bordes;
    margin: 0.1em;
    font-family: $tipo_de_letra;
    background-color: $color_fondo_form  !important;
    padding: 8px;
    border-radius: 5px;
}

iframe {
    height:50vh;
    border:0;
}

.bi-instagram {
    font-size: 30px;
}

footer.btn {
    margin-bottom: 0 !important;
}

@media (min-width: 767px) {

    .padding_extra{
    padding-bottom: 10px;
}
}

@media (max-width: 850px) {
    /* Tablet */

h1{
    padding: 35px 6px 0px 6px;
}    
    #home h1 {
        font-size: calc($tamano-h1)*.8;
        padding-top: $padding_top_md; 
}

    #home h2 {
        padding-top: $padding_top_md;
        font-size: calc($tamano-h1)*0.6;
        }

    #home h3 {
        text-align: right;
        font-size: calc($tamano-h1)*0.5;
        padding-top: $padding_top_md;
    }

    #home .btn{
        background-color: $color_h2_h3;
        margin-top:0.25rem;
        font-size: calc($tamano-h1)*0.35;
    }

    .float-start{
        float: right!important;
    }

    .nav-link {
        font-size: calc($tamano-h1 / 3) !important;
    }
        
}

@media (max-width: 767px) {
    /* Celular */
    h1{
        padding: 10px 6px 0px 6px;}

    #home {
        background-image: url("../images/backgroundimagecel.jpg");
    }

    #home h1 {
        margin-left:0;
        padding-left: 0;
        padding-top: 1rem;
        font-size: calc($tamano-h1 / 2);
    }

    #home h2 {
        margin-left:0;
        padding-left: 0;
        color: $color_h1;
        font-size: calc($tamano-h1 / 2.5);
        }

    #home h3 {
        text-align: right;
        font-size: calc($tamano-h1 / 3);
        padding-top: 0.25rem;
        }

    #home .btn{
        margin-top:0.25rem;
        font-size: calc($tamano-h1/4);
        }
    
    h1,
    h2,
    h3 {
        &:hover {
            transform: none;
        } 
    }
    .nav-link {
        font-size: calc($tamano-h1 / 4) !important;
    } 
}

